.register {
  background: #151618;
  height: 100%;
  padding-top: 2%;
}
.container {
  background: rgba(255, 255, 255, 0.02);
  width: 80%;
  height: 80%;
  margin: auto;
  display: flex;
}
img {
  height: 100%;
  display: block;
}
.form-signup {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
}
.form-signup__upper {
  height: 90%;
  display: flex;
  flex-direction: column;
  padding: 7% 4% 0
}
.label-signup {
  display: block;
  color: rgba(225, 176, 43, 1);
  font-size: 15px;
}
select{
  margin-top: 10px;
  margin-bottom: 20px;
  padding: 10px;
  width: 300px;
  border: none;
  border-bottom: 2px solid #8e8e8e;
  background-color: rgba(255, 255, 255, 0);
  color: rgba(225, 176, 43, 1);
  font-family: "Roboto Mono", monospace;
  font-size: 16px; 
}
.input-signup {
  width: 300px;
  margin-top: 10px;
  margin-bottom: 20px;
  padding: 10px;
  border: none;
  border-bottom: 2px solid #8e8e8e;
  background-color: rgba(255, 255, 255, 0);
  color: rgba(225, 176, 43, 1);
  font-family: "Roboto Mono", monospace;
  font-size: 16px;
  display: inline-block;
}
::placeholder {
  color: white;
  font-size: 16px;
}
.form-signup__down {
  background: rgba(255, 255, 255, 0.02);
  height: 10%;
  width: 100%;
  padding: 10px;
  margin-bottom: 0;
}
.signup-button {
  background: rgba(255, 255, 255, 0);
  color: #8e8e8e;
  font-size: 12px;
  font-family: "Roboto Mono", monospace;
  border: none;
  width: 100%;
  height: 100%;
}

.signup-button:hover {
  cursor: pointer;
}

@media screen and (min-width: 1080px) {
  .form-signup__upper {
    height: 90%;
    text-align: left;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: space-around;
    padding: 7% 4% 0
  }
}

@media screen and (max-width: 1080px) {
  img {
    display: none;
  }
}
