.user {
    background-color: rgb(0, 0, 0);
    border-radius: 5px;
    width: 290px;
    height: 200px;
    margin: 5px;
    padding: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.user:hover {
  cursor: pointer;
}

.user__label {
    color: rgba(225, 176, 43, 1);
    font-weight: bold;
}

.user__label > span {
    color: rgb(255, 255, 255)
}