.researchers {
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

.users-container {
  width: 100%;
  margin-top: 5%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}