.register {
  background: #151618;
  height: 100vh;
  padding-top: 10%;
}
.container {
  background: rgba(255, 255, 255, 0.02);
  width: 80%;
  height: 100vh;
  margin: auto;
  display: flex;
}
img {
  height: 100%;
  display: block;
}
.form-signup {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 4% 10% 0
}
.form-signup__upper {
  text-align: left;
}
label {
  color: #8e8e8e;
  font-size: 12px;
}
select{
  margin-top: 10px;
  margin-bottom: 20px;
  padding: 10px;
  width: 90%;
  border: none;
  border-bottom: 2px solid #8e8e8e;
  background-color: rgba(255, 255, 255, 0);
  color: rgba(225, 176, 43, 1);
  font-family: "Roboto Mono", monospace;
  font-size: 16px; 
}
.input-signup {
  margin-top: 10px;
  margin-bottom: 20px;
  padding: 10px;
  width: 90%;
  border: none;
  border-bottom: 2px solid #8e8e8e;
  background-color: rgba(255, 255, 255, 0);
  color: rgba(225, 176, 43, 1);
  font-family: "Roboto Mono", monospace;
  font-size: 16px;
}
::placeholder {
  color: rgba(142, 142, 142, 0.4);
  font-size: 16px;
}
.button {
  background: rgba(255, 255, 255, 0.02);
  height: 60px;
  padding: 10px;
  margin-bottom: 0;
}
button {
  background: rgba(255, 255, 255, 0);
  color: #8e8e8e;
  font-size: 12px;
  font-family: "Roboto Mono", monospace;
  border: none;
  width: 100%;
  height: 100%;
}

@media screen and (max-width: 1080px) {
  img {
    display: none;
  }
}
