.custom-input {
  display: inline-block;
  margin: 10px 0;
  border: none;
  width: 100;
  border: 2px solid #8e8e8e;
  font-size: 15px;
  background-color: rgba(255, 255, 255, 0);
  color: rgb(255, 255, 255);
}